.main__div {
}
.first__div {
  text-align: center;
}
.main__paper {
  margin: 1px;
  width: 100%;
  display: inline-block;
  border: 1px solid rgb(189, 189, 189);
  overflow: scroll;
  padding: 20px;
  margin-top: 50px;
  overflow: scroll;
}
.group__one {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.group__two {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.group__two_one {
  width: 45%;
}

.group__two_two {
  width: 45%;
}

.group__four {
  flex-direction: column;
  margin-top: 10px;
  background-color: rgb(246, 251, 255);
  padding: 10px;
}
.group__three {
  flex-direction: column;
  margin-top: 10px;
  background-color: rgb(246, 251, 255);
  padding: 10px;
}
.group__five {
  flex-direction: column;
  margin-top: 10px;
  background-color: rgb(246, 251, 255);
  padding: 10px;
}
.group__six {
  flex-direction: column;
  margin-top: 10px;
  background-color: rgb(246, 251, 255);
  padding: 10px;
}
.group__seven {
  flex-direction: column;
  margin-top: 10px;
  background-color: rgb(246, 251, 255);
  padding: 10px;
}
.group__eight {
  flex-direction: column;
  margin-top: 10px;
  background-color: rgb(246, 251, 255);
  padding: 10px;
}
.group__nine {
  flex-direction: column;
  margin-top: 10px;
  background-color: rgb(246, 251, 255);
  padding: 10px;
}

.group__ten {
  flex-direction: column;
  margin-top: 10px;
  background-color: rgb(246, 251, 255);
  padding: 10px;
}

.group__trtn {
  flex-direction: column;
  margin-top: 10px;
  background-color: rgb(246, 251, 255);
  padding: 10px;
}
.group__twl {
  flex-direction: column;
  margin-top: 10px;
  background-color: rgb(246, 251, 255);
  padding: 10px;
}
.group__leven {
  flex-direction: column;
  margin-top: 10px;
  background-color: rgb(246, 251, 255);
  padding: 10px;
}
.group__eitn {
  flex-direction: column;
  margin-top: 10px;
  background-color: rgb(246, 251, 255);
  padding: 10px;
}
.group__ntn {
  flex-direction: column;
  margin-top: 10px;
  background-color: rgb(246, 251, 255);
  padding: 10px;
}
.group__svntn {
  flex-direction: column;
  margin-top: 10px;
  background-color: rgb(246, 251, 255);
  padding: 10px;
}
.group__sxtn {
  flex-direction: column;
  margin-top: 10px;
  background-color: rgb(246, 251, 255);
  padding: 10px;
}
.group__fivtn {
  flex-direction: column;
  margin-top: 10px;
  background-color: rgb(246, 251, 255);
  padding: 10px;
}
.group__fotn {
  flex-direction: column;
  margin-top: 10px;
  background-color: rgb(246, 251, 255);
  padding: 10px;
}
.button {
  margin-top: 10px;
  margin-left: 10px;
  justify-content: center;
}
/* ------------------------------------------------------------------------------ */
@media (max-width: 990px) {
  .main__paper {
    flex-direction: column;
  }
  .group__one {
    flex-direction: column;
  }
  .group__two {
    display: flex;
  }

  .group__two_one {
    width: 100%;
  }
  .group__two_two {
    width: 100%;
    margin-top: 10px;
  }
}
