.right__app {
  display: flex;
  flex-direction: column;
  flex: 0.69;
  /* border: 1px solid red; */
  height: 100vh;
  padding: 5px;
  /* overflow: scroll; */
}
.search__toggle {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  width: 98%;
  margin-top: 7px;
  padding: 5px;
}
.right__search {
  border: 1px solid grey;
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
  width: 80%;
  height: 31px;
}
.right__search__container {
  width: 75%;
  border: none;
  outline-width: 0px;
  margin-left: 4px;
}
.right__search__button {
  width: 20%;
  height: 30px;
  border: 2px solid #007df0;
  border-radius: 7px;
  color: #007df0;
  background-color: white;
  font-size: small;
  margin-left: 13.65px;
}
.right__search__button:hover {
  background-color: #007df0;
  color: white;
}
.right__search__button:active {
  background-color: white;
  color: #007df0;
}
.toggle__button {
  width: 10%;
  height: 30px;
  border: 2px solid #00c43b;
  border-radius: 7px;
  color: white;
  font-weight: 1000;
  background-color: #00c43b;
  font-size: small;
  margin-left: 13.65px;
}
.toggle__button:hover {
  background-color: white;
  color: #00c43b;
}
.toggle__button:active {
  background-color: #00c43b;
  color: white;
}
.account__market {
  display: flex;
  margin-top: 7px;

  background-color: #f0f0f0;
  border-radius: 7px;
  width: 98%;
}

.account {
  margin-right: 25px;
  margin-top: 5px;
  margin-left: 10px;
}
.market {
  margin-top: 5px;
  margin-right: 25px;
}

.ebayListingType {
  margin-top: 5px;
}

.select__account {
  border-radius: 5px;
  width: 200px;
  margin-left: 5px;
}

.select__market {
  border-radius: 5px;
  width: 200px;
  margin-left: 5px;
}

.urls {
  display: flex;
  justify-content: space-between;
  width: 98%;
  background-color: #f0f0f0;
  margin-top: 7px;
  padding: 10px;
  border-radius: 7px;
}

.the__url {
  border: none;

  text-align: center;
  width: 31%;
  display: flex;
  outline-width: 0px;
  justify-content: space-around;
}
.the__url_input:hover {
  border: 1px solid #007df0;
}

.the__url_input {
  border-radius: 5px;
  border: 1px solid gray;
  text-align: center;
  width: 85%;
}

.imgcls {
  margin-top: 1px;
}
.outline__button {
  width: 50%;
  height: 30px;
  border: 2px solid #007df0;
  border-radius: 7px;
  color: #007df0;
  background-color: white;
  font-size: small;
  margin-left: 7px;
}
.outline__button:hover {
  background-color: #007df0;
  color: white;
}
.outline__button:active {
  background-color: white;
  color: #007df0;
}
.custom__category {
  width: 50%;
  height: 30px;
  margin-left: 7px;
  background-color: #ffcc00;
  border: 1px solid #ffcc00;
}
.properties__header {
  background-color: rgb(221, 221, 221);
  margin-top: 7px;
  width: 98%;
  border-radius: 7px;
  font-weight: 1000;
  padding-top: 5px;
}
.properties {
  display: flex;

  margin-top: 2px;
  background-color: #f0f0f0;
  border-radius: 7px;
  width: 98%;
  justify-content: space-around;
  padding: 5px;
  margin-top: -10px;
}
.prodname_div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}
.prop_adjust {
  display: flex;

  margin-top: 2px;
  background-color: #f0f0f0;
  border-radius: 7px;
  width: 95%;
  justify-content: space-around;
  padding: 5px;
  margin-top: 10px;
}
.properties__input {
  font-size: smaller;
  width: 30%;
  margin-left: 7px;
  margin-top: 5px;
  border-radius: 7px;
  margin-bottom: 7px;
  border: 1px solid gray;
  text-align: center;
}
.properties__input:hover {
  border: 1px solid #007df0;
}
.details__heading {
  background-color: rgb(221, 221, 221);
  margin-top: 7px;
  width: 98%;
  border-radius: 7px;
  font-weight: 1000;
  padding-top: 5px;
}
.measurement__heading {
  background-color: rgb(221, 221, 221);
  margin-top: 7px;
  width: 98%;
  border-radius: 7px;
  font-weight: 1000;
  padding-top: 5px;
}
.measurement_adjust {
  padding-left: 10px;
}
.detail_adjust {
  padding-left: 10px;
}
.productdetails_adjust {
  padding-left: 10px;
  flex-grow: 1;
}
.gen_settings {
  padding-left: 10px;
}
.Dom_ship {
  padding-left: 10px;
}
.int_ship {
  padding-left: 10px;
}
.details__content {
  display: flex;

  margin-top: 2px;
  background-color: #f0f0f0;
  border-radius: 7px;
  width: 98;
  justify-content: space-around;
  padding: 5px;
}

.details__content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.details__col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 1px solid green; */
  font-weight: 500;
  font-size: small;
}

.arrange__details {
  display: flex;
  /* border: 1px solid palevioletred; */
}
.details__input_header {
  display: flex;
  flex-direction: column;
}

.label__style {
  margin-top: 10px;
  margin-right: 5px;
}
.details__input {
  border-radius: 7px;
  border: 1px solid gray;
  width: 100px;
  margin-top: 8px;
}

.measurements__header {
  display: flex;
  background-color: rgb(221, 221, 221);
  margin-top: 7px;
  width: 98%;
  border-radius: 7px;
  font-weight: 1000;
  padding-top: 5px;
}

.measurement__body {
  display: flex;
  margin-top: 2px;
  border-radius: 7px;
  width: 98;
  justify-content: space-around;
  padding: 5px;
  font-weight: 400;
  padding: 7px;
}

.segrigate {
  display: flex;
  /* border: 1px solid black; */
  width: 98%;
  margin-bottom: 7px;
  background-color: #f0f0f0;
}

.segrigate, .measurement__body {
  background-color: #f0f0f0;
}

.measurement__input {
  width: 70px !important;
  height: 28px !important;
  border-radius: 7px;
  border: 1px solid gray;
  margin-left: 7px;
}

.outline__button__measurement {
  border: 2px solid #007df0;
  border-radius: 7px;
  color: #007df0;
  background-color: white;
  font-size: small;
  margin-left: 7px;
  height: 30px;

  margin-top: 7px;
}

.general__header {
  background-color: rgb(221, 221, 221);
  margin-top: 7px;
  width: 98%;
  border-radius: 7px;
  font-weight: 1000;
  padding-top: 5px;
}

.general__body {
  display: flex;
  margin-top: 2px;
  background-color: #f0f0f0;
  border-radius: 7px;
  width: 98;
  justify-content: space-around;
  padding: 5px;
  font-weight: 400;
  padding: 40px;
}

.general__col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 1px solid black; */
  margin-top: -30px;
}

.label__style_general {
  margin-top: 10px;
  margin-right: 5px;
  font-size: small;
}
.general__input {
  border-radius: 7px;
  border: 1px solid gray;
  width: 250px;
  margin-left: 7px;
  height: 30px;
}

.label__style_general, .general__input {
    display:block;
}

.general__input_brz {
  border-radius: 7px;
  border: 1px solid gray;
  width: 185px;
  margin-left: 7px;
  height: 30px;
  margin-top: 3px;
}
.brz__btn {
  border: 1px solid #007df0;
  background-color: white;
  color: #007df0;
  border-radius: 7px;
  height: 30px;
  margin-left: 3px;
}
.dom__header {
  background-color: rgb(221, 221, 221);
  margin-top: 7px;
  width: 98%;
  border-radius: 7px;
  font-weight: 1000;
  padding-top: 5px;
}

.dom__body {
  display: flex;
  margin-top: 2px;
  background-color: #f0f0f0;
  border-radius: 7px;
  width: 98;
  justify-content: space-around;

  font-weight: 400;
  padding: 40px;
}

.inter__header {
  background-color: rgb(221, 221, 221);
  margin-top: 7px;
  width: 98%;
  border-radius: 7px;
  font-weight: 1000;
  padding-top: 5px;
}
.inter__body {
  display: flex;
  margin-top: 2px;
  background-color: #f0f0f0;
  border-radius: 7px;
  width: 98;
  justify-content: space-between;

  font-weight: 400;
  padding: 40px;
}

.dom__input {
  border-radius: 7px;
  border: 1px solid gray;
  display: flex;
}
.free__ship {
  display: flex;
  width: 180px;
  justify-content: space-between;
}

.arrange__col_dom {
  display: flex;
  flex-direction: column;
}
.label__style_free {
  width: 150px;
}

.arrange__main {
  margin-top: -20px;
}

.aspect__input_required {
  background: white;
  color: red;
}

.aspect__input_recommended {
  background: white;
  color: orange;
}

.aspect__input_field {
  background: white;
  color: black;
}

.category__alignment {
  display: flex;
  flex-direction: row;
}

.product__header_btn_ctn {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.condition__input {
  height: 75%;
  margin-right: 7px;
  border-radius: 7px;
  border: 1px solid gray;
}

.product__btn {
   height: 75%;
   border: 2px;
   border-radius: 7px;
   font-size: small;
   margin-right: 7px;
   white-space: nowrap;
   text-align: center;
}

.product__togglebtn.MuiToggleButton-root {
  height: 75%;
  border: 2px solid #007df0;
  border-radius: 7px;
  color: #007df0;
  background-color: white;
  font-size: small;
  margin-right: 7px;
}

.product__togglebtn.MuiToggleButton-root:hover {
  background-color: #007df0;
  color: white;
}

.product__togglebtn.MuiToggleButton-root.Mui-selected {
  color: white;
  background-color: #007df0;
}

.button_style {
  background-color: white;
  border-radius: 7px;
  margin-top: -20px;
  width: 50%;
}

.dom__header2 {
  background-color: rgb(221, 221, 221);
  margin-top: 7px;
  width: 55%;
  border-radius: 7px;
  font-weight: 1000;
  padding-top: 5px;
}
.int_ship2 {
  padding-left: 10px;
}
.dom__body2 {
  display: flex;
  margin-top: 2px;
  background-color: #f0f0f0;
  border-radius: 7px;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
  font-weight: 400;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.option_div {
  margin-top: 10px;
}
.inputbox {
  width: 20%;
  border-radius: 5px;
  border: 1px solid gray;
}
.inputbox1 {
  width: 20%;
  border-radius: 5px;
  border: 1px solid gray;
  margin-left: 11px;
}
.best_offer {
  display: flex;
}
.decision_buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1%;
  padding-top: 20px;
  padding-bottom: 20px;
  /* border: 1px solid black; */
  width: 30%;
  margin-left: 10%;
}
.save_to_draft {
  border-radius: 5px;
  background-color: #007df0;
  color: white;
  border: 1px solid white;
  width: 100%;
}

.submit {
  border-radius: 5px;
  background-color: #007df0;
  color: white;
  border: 1px solid white;
}

.cancel {
  border-radius: 5px;
  background-color: red;
  color: white;
  border: 1px solid white;
}
