.basicListingContainer {
  margin-left: 10%;
  margin-right: 10%;
}

.basicListingRow {
  display: flex;
}

.rightSideContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rs_header {
  padding-left: 2%;
}

.rs_productDetails {
  background-color: #dddddd;
  width: 100%;
  border-radius: 7px;
  font-weight: 1000;
  padding-top: 1%;
}

.row_rightSide {
  align-self: flex-start;
  flex-direction: row;
  display: flex;
  background-color: #f0f0f0;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 4%;
  width: 100%;
  gap: 3%;
}

.row_gender {
  display: inline-flex;
  width: 90%;
  background-color: #f0f0f0;
  border-width: 1.5px !important;
  border-style: solid !important;
  border: black;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  justify-content: space-between;
}

.row_rightSide2 {
  align-self: flex-start;
  flex-direction: row;
  display: flex;
  background-color: #f0f0f0;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 4%;
  width: 100%;
  gap: 1%;
}

.row_rightSide3 {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 4%;
  background-color: #f0f0f0;
  width: 100%;
  padding-bottom: 4%;
}

.row_rightSide4 {
  background-color: #dddddd;
  width: 100%;
  border-radius: 7px;
  padding-top: 1%;
  margin-top: 2%;
  margin-bottom: 4%;
}

.row_rightSide5 {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5%;
}

.marketPlacesTitle {
  padding-left: 2%;
  font-weight: bold;
}

.marketPlacesEntry {
  background-color: #f0f0f0;
  padding-left: 5%;
  padding-bottom: 2%;
  padding-top: 1%
}

.controlButtons {
  display: block;
  width: 100%
}

.input_s2 {
  padding-left: 5%;
  padding-right: 5;
}

.image-upload input {
  display: none;
}

.image-upload i {
  width: 80px;
  cursor: pointer;
}

.uploaded {
  margin: 10px;
}

.uploaded > div {
  min-height: 90px;
  margin: 10px;
}

.uploaded label {
  margin: 10px 0px;
  width: 100%;
  text-align: center !important;
}

.modal-dialog {
  max-height: 500px;
}

/* Style the button and place it in the middle of the container/image */
.container .btn2 {
  position: absolute;
  top: 7%;
  left: 4%;
  background-color: #555;
  color: white;
  font-size: 12px;
  padding: 7px 7px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn2:hover {
  background-color: black;
}
