.logotitle {
  font-family: "Amatic SC", cursive;
}





.wrap-login100 {
  width: 560px;
  background: #fff;
  border-radius: 10px;
  position: relative;
}

.p-r-85 {
  padding-right: 85px;
}
.p-l-85 {
  padding-left: 85px;
}
.p-b-55 {
  padding-bottom: 55px;
}
.p-t-55 {
  padding-top: 55px;
}

.login100-form {
  width: 100%;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}
.flex-w {
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.login100-form-title {
  font-family: Raleway-Medium;
  font-size: 30px;
  color: #555;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
  display: block;
}
.p-b-32 {
  padding-bottom: 32px;
}
.txt1 {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: #555;
  line-height: 1.4;
  text-transform: uppercase;
}

.p-b-11 {
  padding-bottom: 11px;
}
.validate-input {
  position: relative;
}

.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
}
.m-b-36 {
  margin-bottom: 36px;
}
.input100 {
  font-family: Raleway-Medium;
  color: #555;
  line-height: 1.2;
  font-size: 18px;
  display: block;
  width: 100%;
  background: 0 0;
  height: 55px;
  padding: 0 25px;
}

input {
  outline: none;
  border: none;
}
button, input {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
[role=button], a, area, button, input, label, select, summary, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #57b846;
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}
.txt1 {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: #555;
  line-height: 1.4;
  text-transform: uppercase;
}

.p-b-11 {
  padding-bottom: 11px;
}

.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
}

.m-b-12 {
  margin-bottom: 12px;
}
.btn-show-pass {
  font-size: 15px;
  color: #999;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 12px;
  padding: 0 5px;
  cursor: pointer;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.flex-sb-m {
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}

.w-full {
  width: 100%;
}
.p-b-48 {
  padding-bottom: 18px;
}

.txt3 {
  font-family: Raleway-Regular;
  font-size: 13px;
  color: #555;
  line-height: 1.4;
}

a {
  font-family: Raleway-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666;
  margin: 0;
  transition: all .4s;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
}

.container-login100-form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.login100-form-btn {
  font-family: Raleway-Bold;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 150px;
  height: 55px;
  background-color: #333;
  border-radius: 27px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}
button {
  outline: none!important;
  border: none;
  background: 0 0;
}
[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}
button, select {
  text-transform: none;
}
button, input {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
[role=button], a, area, button, input, label, select, summary, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
.container-login100 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.container-fluid{
  background-color: #fff;
    width: 100%;
    height: 100%;
}