.left__app {
  display: flex;
  flex-direction: column;
  flex: 0.31;
  /* border: 1px solid green; */
  height: 100vh;
}
.images {
  /* border: 1px solid black; */
}
.images__one {
  display: flex;
}

.left__search {
  display: flex;
  align-items: center;
  background-color: white;
  height: 30px;
  width: 95.5%;

  margin-top: 7px;
  border-radius: 7px;
  margin-left: 7px;
  border: 1px solid grey;
  justify-content: space-between;
}
.search__container {
  width: 80%;
  font-size: smaller;
  outline-width: 0px;
  border: none;
}
.search__button {
  width: 100px;
  height: 30px;
  border: 2px solid #007df0;
  border-radius: 7px;
  color: #007df0;
  background-color: white;
  font-size: small;
  margin-left: 1px;
}

.store__buttons {
  display: flex;
  margin-top: 7px;
  width: 97%;
}

.outline__button_red {
  width: 100%;
  height: 30px;
  border: 1px solid #9b9b9b;
  border-radius: 7px;
  color: red;
  background-color: white;
  font-size: small;
  margin-left: 7px;
}
.outline__button_red:hover {
  background-color: red;
  color: white;
}
.outline__button_red:active {
  background-color: white;
  color: red;
}
.fill__button_red {
  width: 100%;
  height: 30px;
  border: 1px solid #9b9b9b;
  border-radius: 7px;
  color: white;
  background-color: red;
  font-size: small;
  margin-left: 7px;
}

.outline__button {
  width: 50%;
  height: 30px;
  border: 2px solid #007df0;
  border-radius: 7px;
  color: black;
  background-color: white;
  font-size: small;
  margin-left: 7px;
}

.fill__button {
  width: 50%;
  height: 30px;
  border: 2px solid #007df0;
  border-radius: 7px;
  color: white;
  background-color: #007df0;
  font-size: small;
  margin-left: 7px;
}
.fill__button:hover {
  background-color: white;
  color: #007df0;
}
.fill__button:active {
  background-color: #007df0;
  color: white;
}