body {
  font-family: "Poppins", sans-serif;
}

.cartIt {
  width: 100%;
  padding-top: 10px;
}

#buttonSize {
  width: 200px;
}

table {
  width: 100%;
}

@media (max-width: 411px) {
  table {
    overflow-x: auto;
    overflow-y: auto;
    display: block;
    width: 100%;
    height: 500px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  }

  .cartIt {
    width: 380px;
    margin: auto;
    padding-top: 10px;
  }
}

.colorIt {
  background-color: white;
  border: 0px;
}

#imageset {
  display: block;
  margin: 0 auto;
  padding: 0px;
}

#searcheverything {
  width: 400px;
}

.product-img {
  width: 100px;
  height: 100px;
}

.product__info {
  display: flex;
  justify-content: flex-end;
  margin-top:-2rem;
}