.main {
  display: flex;
  /* border: 1px solid black; */
  margin-left: -45px;
  margin-top: -30px;
  width: 107.5%;
  height: 90vh;
  /* overflow: scroll; */
}
.body {
  flex: 33.3;
  /* border-right: 1px solid black; */
  border-right: solid #cecece 2px;
  font-size: small;
  padding: 2px;
  height: 100%;
}

.international_allignmant {
  border: 1px solid #f0f0f0;
  border-radius: 7px;
  width: 96%;
  margin-left: 10px;
  padding-left: 5px;
  margin-bottom: 5px;
}

.international_allignmant:hover {
  border: 1px solid #007df0;
}

.body__one__q1 {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  border: 1px solid #f0f0f0;
  width: 95%;
  padding-left: 2px;
  margin-left: 10px;
  border-radius: 7px;
}
.body__one__q2 {
  display: flex;
  margin-top: 5px;
  border: 1px solid #f0f0f0;
  width: 95%;
  padding-left: 2px;
  margin-left: 10px;
  border-radius: 7px;
}
.body__one__q2_input {
  width: 90%;
  margin: 4px;
  border-radius: 7px;
  border: 1px solid gray;
  text-align: center;
}

.blob {
  display: flex;

  border: 1px solid #f0f0f0;
  width: 95%;
  padding-left: 2px;
  margin-left: 10px;
  border-radius: 7px;
  margin-top: 5px;
}

.other_price_options {
  border-radius: 7px;
  border: 1px solid gray;
}
.body__one__q4_input {
  width: 95%;
  margin: 4px;
  border-radius: 7px;
  border: 1px solid gray;
  height: 50px;
  margin-right: 100px;
  padding-left: 10px;
}
.body__one__q5_head {
  display: flex;
  justify-content: center;
}
.button__q5 {
  /* display: flex;
  justify-content: center; */
  border-radius: 5px;
  align-self: center;
  width: 60%;
}
.body__one__q5 {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* justify-content: center; */
  border: 1px solid #f0f0f0;
  border-radius: 7px;
  margin-top: 5px;
  width: 95%;
  margin-left: 10px;
  padding-left: 2px;
}
.automatic_arrange {
  display: flex;
  justify-content: space-between;
  padding-left: 2px;
  /* border: 1px solid black; */
}
.automatic_label_arrange {
  margin-top: 8px;
}
.automatic__input {
  width: 100px;
  margin-left: 5px;
  border-radius: 7px;
  border: 1px solid gray;
  margin-top: 7px;
}
.body__two__q1_arrange {
  display: flex;
  justify-content: space-between;
  width: 95%;
  border: 1px solid #f0f0f0;
  margin-left: 10px;
  border-radius: 7px;
}
.body__two__q1_arrange:hover {
  border: 1px solid #007df0;
}
.ebay__smart {
  margin-left: 4px;
  align-self: center;
}
.mercari__smart {
  margin-right: 4px;
}
.vertical__align {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* margin-right: 20px; */
}
.r2__q2 {
  display: flex;
  margin-top: 5px;
  justify-content: center;
  justify-content: space-between;
  border: 1px solid #f0f0f0;
  border-radius: 7px;
  width: 95%;
  margin-left: 10px;
  padding-right: 10px;
  padding-left: 7px;
}
.shipping__alignment {
  margin-top: 5px;
}

.domestic__alignment {
  border: 1px solid #f0f0f0;
  border-radius: 7px;
  margin-top: 5px;
  width: 95%;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.domestic__alignment:hover {
  border: 1px solid #007df0;
}

.rules__arrange {
  font-weight: bold;
  align-self: center;
  margin-bottom: 5px;
}

.r2__q2:hover {
  border: 1px solid #007df0;
}
.r2_q3_align {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  border: 1px solid #f0f0f0;
  border-radius: 7px;
  width: 95%;
  margin-left: 10px;
  padding-left: 10px;
}
.r2_q3_align:hover {
  border: 1px solid #007df0;
}

.r2_q3_input {
  width: 98%;
  border: 1px solid grey;
  border-radius: 7px;
  height: 50px;
}
.r2_q4_align {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}
.r2_q4_head {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  /* border: 1px solid black; */
}
.r2_q4_inner_align {
  display: flex;
  flex-direction: column;
  margin-top: -3px;

  border-radius: 7px;
  background-color: #f0f0f0;
  width: 90%;
  margin-left: 30px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
  /* border: 1px solid black; */
}
.r2_q4_inner_align_input {
  background: #ffff;
  width: 70%;
  border-radius: 7px;
  margin-left: 3px;
  align-content: center;
  border: 1px solid gray;
  /* border: 1px solid black; */
}

.r2_q4_inner_align_input:disabled {
  background: transparent !important;
}

.text_allign {
  /* border: 1px solid pink; */
  text-align: center;
  font-size: smaller;
  /* border: 1px solid black; */
}
.r2_q4_sub_align {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
}
.input_alin_cntr {
  display: flex;
  justify-self: center;
  /* border: 1px solid black; */
  width: 50%;
}
.items__align_col {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-content: center;
  /* border: 1px solid black; */
}
.rules_align {
  display: flex;
}

.r2_q5_inner_align {
  display: flex;
  flex-direction: column;
  margin-top: 5px;

  border-radius: 7px;
  background-color: #f0f0f0;
  width: 90%;
  margin-left: 30px;
  padding-left: 2px;
  margin-bottom: 10px;
  margin-top: -5px;
  /* border: 1px solid black; */
}
.all_allign_center {
  /* padding-left: 10px; */
  padding-left: 20px;
  /* border: 1px solid black; */
}
.bold {
  /* font-weight: bold; */
  text-align: center;
  width: 100%;
  /* border: 1px solid black; */
  color: white;
  background-color: #007df0;
}
.bold2 {
  /* font-weight: bold; */
  text-align: center;
  width: 100%;
  /* border: 1px solid black; */
  color: rgb(0, 0, 0);
  background-color: #e0e0e0;
  margin-bottom: 5px;
  margin-top: 3px;
  font-size: smaller;
  font-weight: bold;
}
.small_font {
  font-size: smaller;
  color: #007df0;
}
.sub_head {
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-bottom: 5px;

  /* border: 1px solid black; */
}

.input_tag {
  background: #ffff;
  border-radius: 7px;
  width: 100px;
  border: 1px solid gray;
  margin-left: 5px;
}

.input_tag:disabled {
  background: transparent;
}

.r3_q2_align {
  display: flex;
  border: 1px solid #f0f0f0;
  border-radius: 7px;
  width: 91%;
  margin-left: 30px;
  background-color: #f0f0f0;
  padding-left: 5px;
  padding-right: 5px;
}

.country_arrange {
  display: flex;
  justify-content: space-between;
}
.international_shipping_alignment {
  display: flex;
  justify-content: space-between;

  /* border: 1px solid #007df0;
  border-radius: 7px;
  margin-left: 10px; */
}

.time__cost {
  display: flex;
  justify-content: space-around;
}

.country_input {
  margin-left: 5px;
}
.r3_q4_body_align {
  display: flex;

  /* border: 1px solid black; */
}

.r3_q4_left_align1 {
  display: flex;
  flex-direction: column;
  border-right: solid #cecece 2px;
  width: 70%;
  /* border: 1px solid black; */
}
.r3_q4_left_align2 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.input__payprof2 {
  border-radius: 7px;
  border: 1px solid gray;
  margin-left: 10px;
}
.input__payprof3 {
  border-radius: 7px;
  border: 1px solid gray;
  margin-left: 10px;
  height: 50px;
}
.input__payprof1 {
  border-radius: 7px;
  border: 1px solid gray;
  margin-left: 5px;
  width: 80%;
}

.payment {
  background-color: #f0f0f0;
  border-radius: 7px;
  width: 95%;
  padding-left: 5px;
  margin-left: 10px;
  /* border: 1px solid black; */
}
.payment:hover {
  border: 1px solid #007df0;
}
.body__one__q1:hover {
  border: 1px solid #007df0;
}

.buyer_req_align {
  display: flex;
  justify-content: space-between;
}
.buyer_border {
  border: 1px solid #f0f0f0;
  border-radius: 7px;
  margin-top: 5px;
  width: 95%;
  margin-left: 10px;
  padding-left: 5px;
}
.save_button {
  background-color: #007df0;
  color: white;
  width: 200%;
  border-radius: 7px;
  border: 1px solid #f0f0f0;
  margin-top: 3px;
}
.save_btn_align {
  display: flex;
  align-content: center;
}
.save_button:hover {
  background-color: white;
  color: #007df0;
}
.buyer_border:hover {
  border: 1px solid #007df0;
}

.body__one__q2:hover {
  border: 1px solid #007df0;
}
.blob:hover {
  border: 1px solid #007df0;
}

.body__one__q5:hover {
  border: 1px solid #007df0;
}
