body {
  font-family: "Poppins", sans-serif;
}

.settingsIt2 {
  width: 270px;
  margin: auto;
  padding-top: 50px;
}

#settingsBackground2 {
  background-color: #52c4d3;
  border-radius: 5px;
  text-align: center;
  height: 65px;
  width: 300px;
  color:#ffffff;
  padding-top: 10px;
}

@media (max-width: 411px) {
  #settingsBackground2 {
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    text-align: center;
    height: 75px;
    width: 395px;
    padding-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
  }

  #profilephoto2 {
    padding-top: 30px;
    padding-left: 30px;
    width: 83%;
  }

  .settingsIt2 {
    width: 409px;
    margin: auto;
    padding-top: 50px;
    text-align: center;
  }
}
#profilephoto2 {
  padding-top: 30px;
  padding-left: 30px;
  width: 100%;
}

#preferences {
  display: inline;
}

.paddingfornames {
  padding-top: 10px;
  font-size: small;
}
.inlineinname {
  display: inline-block;
}
.iconpadding {
  padding-right: 5px;
}

#logout {
  
}
