body {
  font-family: "Poppins", sans-serif;
}

.settingsIt2 {
  width: 100%;
  margin: auto;
  padding-top: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#settingsBackground2 {
  background-color: #007bff;
  border-radius: 5px;
  text-align: center;
  height: 65px;
  width: 300px;
  color:#000000;
  align-content: center;
}

#settingsBackground2:hover{
  color:#ffffff;

}

#profilephoto2 {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileDataField .MuiOutlinedInput-notchedOutline {
  border-color: #ffffff !important;
}

.profileDataField .MuiInputBase-root.Mui-disabled {
  color: #000000 !important;
}

.preferences {
  display: inline;
}

.paddingfornames {
  padding-top: 10px;
  font-size: small;
}
.inlineinname {
  display: inline-block;
}
.iconpadding {
  padding-right: 5px;
}

#logout {
  
}
