.app {
  display: grid;
  place-items: center;
  height: 100vh;
}

.app__body {
  display: flex;

  margin-top: -60px;
  height: 90vh;
  width: 100%;
}

.right__app {
  display: flex;
  flex-direction: column;
  flex: 0.69;
  /* border: 1px solid red; */
  height: 100vh;
  padding: 5px;
  /* overflow: scroll; */
}

.left__app {
  display: flex;
  flex-direction: column;
  flex: 0.31;
  /* border: 1px solid green; */
  height: 100vh;
}
