.main-container{
  height: 55vh;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  /* bottom: 0; */
  right: 0;
}
.msg-header{
  height: 50px;
  background: #007df0;
  border-radius: 5px 5px 7px 7px;
  border:none;
  outline: none;
}
.header-icon .fa{
  float: right;
  padding-right: 5px;
  padding: 15px 20px 15px 20px;
  color: white;
  font-weight: 800;
}
.chat-page{ 
  position: absolute;
  width: 100%;
  opacity: 0.85;
  /* top: 60px; */
  height: 80%;
} 
.outgoing-chats{
  margin: 5px;
}
.outgoing-chats-msg {
  float: left;
  width: 46%;
  margin-left: 45%;
}
.outgoing-chats-msg p{
  background: #007bff none repeat scroll 0 0;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  margin: 10px;
  margin-left: 0px;
  padding: 12px 12px 12px 12px;
  width: 100%;
}
.received-chat-inbox {
  float: right;
  width: 46%;
  margin-left: 45%;
}
.received-chat-inbox p{
  background: grey none repeat scroll 0 0;
  border-radius: 10px;
  font-size: 12px;
  width: 100%;
}

.time{
  color: #777;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

#text{
  padding: 7px;
  width: 80%;
  left: 5%;
  position: absolute;
  border: 0;
  /* top: 13px; */
  background: #F9FBFF;
  color: black;
  outline: none;
  bottom: 0;
  } 

  