#mypopover{
    right: 0;
    position: fixed;
    bottom: 0;
    width: 5%;
    margin: 20px;
    border-radius: 70px;
    background-color: transparent;
    border: none;
}

#mypopover .fa{
  color: #007df0;
  font-size: 35px;
}