.accounting-datepicker {
    display: inline-block;
    margin: 0px 10px;
}

.accounting-datepicker > label {
    margin-right: 5px;
    color: #255C99;
    font-style: bold;
}

select {
    padding: 2px;
}

.accounting-search-bar {
    border: 1px solid #9FA2B2;
    border-top: 4px solid #26C485;
}

.accounting-search-controls {
    padding: 10px 0px 10px 0px;
    margin-bottom: 0px;
}
