body {
    font-family: "Poppins", sans-serif;
  }
  
.settingsIt{
    width: 100%;
    margin: auto;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dataRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dataFieldInput{
    margin-left: 1rem;
}

.dataButton{
    margin-top: 0.5rem;
    margin-left: 2rem;
}