.outline__button {
  width: 50%;
  height: 30px;
  border: 2px solid #007df0;
  border-radius: 7px;
  color: #007df0;
  background-color: white;
  font-size: small;
  margin-left: 7px;
}

.outline__button:hover {
  background-color: #007df0;
  color: white;
}

.outline__button:active {
  background-color: white;
  color: #007df0;
}

.custom__category {
  width: 50%;
  height: 30px;
  margin-left: 7px;
  background-color: #ffcc00;
  border: 1px solid #ffcc00;
}

.properties__header {
  background-color: rgb(221, 221, 221);
  margin-top: 7px;
  width: 98%;
  border-radius: 7px;
  font-weight: 1000;
  padding-top: 5px;
}

.properties {
  display: flex;
  margin-top: 2px;
  background-color: #f0f0f0;
  border-radius: 7px;
  width: 98%;
  justify-content: space-around;
  padding: 5px;
  margin-top: -10px;
}

.prop_adjust {
  display: flex;
  margin-top: 2px;
  background-color: #f0f0f0;
  border-radius: 7px;
  width: 95%;
  justify-content: space-around;
  padding: 5px;
  margin-top: 10px;
}

.properties__input {
  font-size: smaller;
  width: 30%;
  margin-left: 7px;
  margin-top: 5px;
  border-radius: 7px;
  margin-bottom: 7px;
  border: 1px solid gray;
  text-align: center;
}

.properties__input:hover {
  border: 1px solid #007df0;
}

.measurement__heading {
  background-color: rgb(221, 221, 221);
  margin-top: 7px;
  width: 98%;
  border-radius: 7px;
  font-weight: 1000;
  padding-top: 5px;
}

.measurement_adjust {
  padding-left: 10px;
}

.detail_adjust {
  padding-left: 10px;
}

.productdetails_adjust {
  padding-left: 10px;
  flex-grow: 1;
}

.gen_settings {
  padding-left: 10px;
}

.label__style {
  margin-top: 10px;
  margin-right: 5px;
}

.measurements__header {
  display: flex;
  background-color: rgb(221, 221, 221);
  margin-top: 7px;
  width: 98%;
  border-radius: 7px;
  font-weight: 1000;
  padding-top: 5px;
}

.measurement__body {
  display: flex;
  margin-top: 2px;
  border-radius: 7px;
  width: 98;
  justify-content: space-around;
  padding: 5px;
  font-weight: 400;
  padding: 7px;
}

.segregate {
  display: flex;
  /* border: 1px solid black; */
  width: 98%;
  margin-bottom: 7px;
  background-color: #f0f0f0;
}

.segregate, .measurement__body {
  background-color: #f0f0f0;
}

.measurement__input {
  width: 70px !important;
  height: 28px !important;
  border-radius: 7px;
  border: 1px solid gray;
  margin-left: 7px;
}

.outline__button__measurement {
  border: 2px solid #007df0;
  border-radius: 7px;
  color: #007df0;
  background-color: white;
  font-size: small;
  margin-left: 7px;
  height: 30px;

  margin-top: 7px;
}

.general__header {
  background-color: rgb(221, 221, 221);
  margin-top: 7px;
  width: 98%;
  border-radius: 7px;
  font-weight: 1000;
  padding-top: 5px;
}

.label__style_general {
  margin-top: 10px;
  margin-right: 5px;
  font-size: small;
}

.label__style_general, .general__input {
    display:block;
}

.brz__btn {
  border: 1px solid #007df0;
  background-color: white;
  color: #007df0;
  border-radius: 7px;
  height: 30px;
  margin-left: 3px;
}

.aspect__input_required {
  background: white;
  color: red;
}

.aspect__input_recommended {
  background: white;
  color: orange;
}

.aspect__input_field {
  background: white;
  color: black;
}

.product__header_btn_ctn {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.condition__input {
  height: 75%;
  margin-right: 7px;
  border-radius: 7px;
  border: 1px solid gray;
}

.product__btn {
   height: 75%;
   border: 2px;
   border-radius: 7px;
   font-size: small;
   margin-right: 7px;
   white-space: nowrap;
   text-align: center;
}

.product__togglebtn.MuiToggleButton-root {
  height: 75%;
  border: 2px solid #007df0;
  border-radius: 7px;
  color: #007df0;
  background-color: white;
  font-size: small;
  margin-right: 7px;
}

.product__togglebtn.MuiToggleButton-root:hover {
  background-color: #007df0;
  color: white;
}

.product__togglebtn.MuiToggleButton-root.Mui-selected {
  color: white;
  background-color: #007df0;
}