.best_offer {
  display: flex;
}

.dom__header2 {
  background-color: rgb(221, 221, 221);
  margin-top: 7px;
  width: 55%;
  border-radius: 7px;
  font-weight: 1000;
  padding-top: 5px;
  flex-grow: 1;
}

.int_ship2 {
  padding-left: 10px;
}

.dom__body2 {
  display: flex;
  margin-top: 2px;
  background-color: #f0f0f0;
  border-radius: 7px;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
  font-weight: 400;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.option_div {
  margin-top: 10px;
}

.inputbox {
  width: 20%;
  border-radius: 5px;
  border: 1px solid gray;
}

.inputbox1 {
  width: 20%;
  border-radius: 5px;
  border: 1px solid gray;
  margin-left: 11px;
}